#!/usr/bin/make -f

export DH_GOLANG_BUILDPKG = github.com/ljfranklin/pxeserver/cli/pxeserver
export DH_GOLANG_INSTALL_EXTRA = config.yaml

%:
	dh $@ --builddirectory=_build --buildsystem=golang --with=golang

override_dh_auto_install:
	dh_auto_install -- --no-source

override_dh_installsystemd:
	dh_installsystemd --no-enable
